$primary-color: #224870;
$secondary-color: #2a4a94;

.search {
    color: #eee;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    outline: none;

}
.search::placeholder{
    color: #eee;
}

:focus {
    background-color: $primary-color;
}

