@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.search {
  color: #eee;
  background-color: transparent;
  border: 2px solid #224870;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.search::-webkit-input-placeholder {
  color: #eee;
}

.search:-ms-input-placeholder {
  color: #eee;
}

.search::-ms-input-placeholder {
  color: #eee;
}

.search::placeholder {
  color: #eee;
}

:focus {
  background-color: #224870;
}

.search {
  color: #eee;
  background-color: transparent;
  border: 2px solid #224870;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.search::-webkit-input-placeholder {
  color: #eee;
}

.search:-ms-input-placeholder {
  color: #eee;
}

.search::-ms-input-placeholder {
  color: #eee;
}

.search::placeholder {
  color: #eee;
}

:focus {
  background-color: #224870;
}

.movie {
  background-color: #2a4a94;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #224870;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: #27bd27;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: #bd2a2a;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #224870;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #2a4a94;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(100%, #224870), color-stop(25%, #2a4a94));
  background: linear-gradient(0deg, #020024 0%, #224870 100%, #2a4a94 25%);
}
/*# sourceMappingURL=main.css.map */